<p>header works!</p>
<p>uid: {{ header.uid }}</p>
<p>access-token: {{ header.access_token }}</p>
<p>client: {{ header.client }}</p>
<br>

<h2>Posts</h2>
<form [formGroup]="postForm" (ngSubmit)="postPostData(postForm.value)">
  <label>title:</label>
  <input type="text" formControlName="title">
  <button type="submit">送信</button>
</form>
<ul *ngFor="let post of posts">
  <li>
    {{ post.created_at | date: 'y年M月d日(E) h:mm' }}<br>
    {{ post.title }}<br>
    <small style="color: #dd0000; text-decoration: underline; cursor: pointer;" (click)="deletePost(post.id)">削除</small>
  </li>
</ul>
