* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a[routerLink] {
  margin-right: 15px;
  padding: 8px 15px;
  border-radius: 8px;
  background: lightgray;
  color: #fff;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}